body{
  margin: 0;
  background-color: #483C46;
}
nav
  {
    white-space:nowrap;
    overflow-x:auto;
    display:flex;
    padding: 10px;
    background-color:#483C46;
    scrollbar-color:#285943 #483C46;

  }



nav div a
  {
    margin-right:20px;
    padding: 5px 5px;
    transition: all 0.3s;
    border:1px solid transparent;
    color: #368F71;
    text-decoration-style: none;
    text-decoration:none;
    font-size:medium;
    font-weight:bold;
  }



nav div:hover{
  background-color: #616384;
}

h1{
  text-align: center;
  margin-bottom: 0;
}

.curPage
{
  background-color:#616384;
}

.curPage a
{
  color:#B7E1D0;
}

#home-container{
  display: grid;
  width: 100vw;
  height: 100vw;
  text-align: center;
  grid-template-areas: 
  "s1 a a a b b b s2"
  "s1 a a a b b b s2"
  "s1 c c d d e e s2"
  "s1 c c d d e e s2"
  "s1 f f g g h h s2"
  "s1 f f g g h h s2"
  "s1 i i i j j j s2"
  "s1 i i i j j j s2";
}


#sec1,#sec2,#sec3,#sec4,#sec5,#sec6,#sec7,#sec8,#sec9,#sec10{
  border-radius: 10px;
  border: 10px;
  box-shadow: 0px 2px 20px #B7E1D0;
}

#sec1{ grid-area: a; }
#sec2{ grid-area: b; }
#sec3{ grid-area: c; }
#sec4{ grid-area: d; }
#sec5{ grid-area: e; }
#sec6{ grid-area: f; }
#sec7{ grid-area: g; }
#sec8{ grid-area: h; }
#sec9{ grid-area: i; }
#sec10{ grid-area: j; }

#sec1:hover,#sec2:hover,#sec3:hover,#sec4:hover,#sec5:hover,#sec6:hover,#sec7:hover,#sec8:hover,#sec9:hover,#sec10:hover{
  background-color: #368F71;
  box-shadow: 0px 2px 20px #43C59E;
}

#sec1>iframe,#sec2>iframe,#sec9>iframe,#sec10>iframe{
  width: 95%;
  height: 85%;
}

#sec3>iframe,#sec4>iframe,#sec5>iframe,#sec6>iframe,#sec7>iframe,#sec8>iframe{
  width: 95%;
  height: 85%;
}