body{
  margin: 0;
  background-color: #483C46;
}

nav{
  display:flex;
  width: 100vw;
  background-color: #483C46;
}

nav div,a{
  padding:10px;
  color: #368F71;
  width: 10%;
  text-align: center;
}

nav div:hover{
  background-color: #616384;
}

h1{
  text-align: center;
  margin-bottom: 0;
}

.curPage
{
  background-color:#616384;
}

.curPage a
{
  color:#B7E1D0;
}